* {
    margin: 0;
}
.headerDescuento {
    background-color: #1CD1B0;
    padding: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
}

.headerHeroes {
    background-color: #00669F;
    font-family: Helvetica, sans-serif;
    padding: 20px;
    font-size: 40px;

}
.imagenSuperior {
    width: 300px;
    height: 193px;
    border-radius: 16px 16px 0px 0px;
}
.imagenCentral {
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.cuadroTexto {
    position: absolute;
    width: 300px;
    height: 336px;
    background: white;
    box-shadow: 0px 4px 4px ;
}

footer {

    background-color: #00669F;
    color: white;
}

