* {
    margin: 0;
}

header {
    text-align: center;
    background-color: rgb(218, 218, 218);
}

.logoBat {
    vertical-align: middle;
    background-color: rgb(128, 128, 128);
}

.tituloCvPrincipal{
    text-transform: uppercase;
    background-color: rgb(177, 177, 177);
    padding: 15px;
    text-align: center;
    color: rgba(0, 86, 119, 1);
    font-weight: bold;
    font-size: 1.8em;
    letter-spacing: 5px;
}

.titulosCv, .titulosCvDatosPersonales{
    text-transform: uppercase;
    background-color: rgb(177, 177, 177);
    padding: 5px;
    color: rgba(0, 86, 119, 1);
    letter-spacing: 5px;
    margin-top: 60px;  
}

.titulosCvDatosPersonales{
    margin-top: 160px;  
}

.datosPersonales{
    display: inline;
    font-weight: bold;
    font-style: italic;
}

.formacionAcademica{
    display: inline;
    font-weight: bold;  
}
.estiloUl{
    list-style-type: none;
}

.txtNumeroBatman{
    display: inline;
}

footer{
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(0, 86, 119, 1);
    color: white;
    padding: 5px;
}